.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 15px 30px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

@media screen and (max-width: 768px) {
  .navbar {
    display: flex;
  }
}

.navbar-logo {
  font-size: 24px;
  font-weight: bold;
  color: #333333;
  text-decoration: none;
}

.navbar-menu {
  display: flex;
  gap: 15px;
}

.navbar-menu-link {
  font-size: 16px;
  color: #333333;
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.navbar-menu-link:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 110px;
  background-color: #ffffff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  z-index: 2000;
  max-height: calc(100vh - 70px); /* Subtract the height of the navbar */
  overflow-y: auto;
}

.dropdown-content a {
  display: block;
  padding: 12px 16px;
  color: #333333;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.dropdown-content a:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.hamburger-menu {
  display: none;
  cursor: pointer;
}

.hamburger-menu-icon {
  width: 24px;
  height: 3px;
  background-color: #333;
  margin: 5px 0;
}

/* Media query for mobile screens */
@media screen and (max-width: 768px) {
  .navbar-menu {
    display: none;
  }

  .hamburger-menu {
    display: block;
  }

  .navbar-menu.mobile {
    display: flex;
    flex-direction: column;
    gap: 0;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #fff;
    padding: 15px 0;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 4px 4px;
  }
}

.range-slider {
  margin-top: 20px;
}

.slider-div {
  padding-bottom: 10px;
}
